startup --output_base=D:\\O

build --incompatible_enable_cc_toolchain_resolution             # allow bazel to use custom toolchains
build --extra_toolchains="@env//toolchain:mingw_cc_toolchain" --extra_execution_platforms="@env//platform:windows_platform"
build --define=MINGW_PATH="C:/msys64/ucrt64"
build --define=GCC_VERSION="13.2.0"
common --noenable_bzlmod